# Node modules
node_modules/

# Build output
dist/
build/
out/

# Environment variables
.env
.env.local
.env.*

# OS-specific
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/

# Logs
*.log

# Smart contract artifacts
artifacts/
cache/
typechain/

# Frontend preview
.next/
.vercel/

# Prisma
prisma/dev.db
prisma/migrations/

# Test coverage
coverage/

# Others
*.tgz
*.zip

# Large binaries
*.dylib
*.dll
*.so
*.exe
*.bin
docker-scout
